In [1]:
import numpy as np
import pandas as pd
import datetime

In [2]:
record={
    'Sales_ID' : [10,20,30,10,20,30,10,20,30],
    'Date' : [datetime.datetime(2022,1,16),datetime.datetime(2022,1,16),datetime.datetime(2022,1,16),datetime.datetime(2022,1,17),datetime.datetime(2022,1,17),
            datetime.datetime(2022,1,17),datetime.datetime(2022,1,18),datetime.datetime(2022,1,18),datetime.datetime(2022,1,18)],
    'Sales' : [30,20,50,68,78,75,93,84,28]
}
df2 = pd.DataFrame(record,columns = ['Sales_ID', 'Date', 'Sales'])

In [3]:
df2

   Sales_ID       Date  Sales
0        10 2022-01-16     30
1        20 2022-01-16     20
2        30 2022-01-16     50
3        10 2022-01-17     68
4        20 2022-01-17     78
5        30 2022-01-17     75
6        10 2022-01-18     93
7        20 2022-01-18     84
8        30 2022-01-18     28

In [4]:
def fun2(ID,date):
    format = '%Y-%m-%d' 
    converted_date = datetime.datetime.strptime(date, format)
    print(df2[(df2['Sales_ID']==ID) & (df2['Date']==converted_date - datetime.timedelta(days=1))])

In [5]:
fun2(30,'2022-01-17')

   Sales_ID       Date  Sales
2        30 2022-01-16     50